fastapi==0.103.2
uvicorn==0.22.0
starlette==0.27.0

opencv-contrib-python==4.11.0.86
mediapipe==0.10.8

numpy==1.26.4
pandas==2.3.1

scikit-learn==1.7.0
scipy==1.16.1
xgboost==3.2.0
joblib==1.5.3

python-multipart==0.0.32
pydantic==2.5.3
typing-extensions==4.7.1

httpx==0.28.1
python-dotenv==0.21.1
requests==2.34.2