fastapi==0.116.1
uvicorn==0.35.0
python-multipart==0.0.20

opencv-python==4.12.0.88
mediapipe==0.10.14


numpy==2.2.6
pandas==2.3.1

scikit-learn==1.7.0
xgboost==3.2.0
joblib==1.5.1

pydantic==2.11.7
requests==2.32.4
